li.contact.joined
  .wrap
    i.remove.fa.fa-times-circle(title='remove from contacts')
    i.presence.fa.fa-circle
    .user
      img.avatar
      span.name=contact.displayName
      span.idleTime=contact.idleSince
    .unread=contact.unreadCount
