doctype html
html
    head
        title Kaiwa
        link(rel='stylesheet', href='css/app.css')
        script(src='js/app.js')
        link(rel="shortcut icon", type="image/png", href="images/kaiwa.png")
        script(src="config.js")
    body.aux
        header
            img(id="logo", src="images/logo-big.png", width="250", height="77", alt="Kaiwa")
        section.box.connect
            h2 Connecting...
            a.button.secondary(href="logout.html") Cancel
