doctype html
html
    head
        title Kaiwa
        meta(content='text/html', charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="css/app.css")
        link(rel="shortcut icon", type="image/png", href="images/kaiwa.png")
        block head
    body.aux
        header
            img#logo(src="images/logo-big.png", width="250", height="77", alt="Kaiwa")
        block content

        block scripts
