#auth-failed
  display: none;
  color: red;
  text-align: center

#loginbox
  margin-bottom: 120px

#login-form button
  margin-top: 2em;
  width: 50%

.fieldContainer.checkbox
  input
    margin-right: 0.5em

  label
    display: inline-block

.fieldContainerWSS
  display: none
